@{
    ViewData["Title"] = "Product";
}


<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Create New Product
            </a>
        </div>
    </div>
    <br />
    <br />

</div>

<table id="tblData" class="table table-bordered table-stripped table-hover" style="width:100%">
    <thead>
        <tr class="table-primary">
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/product-scripts.js"></script>
}